In [ ]:
# Importing required Packages
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
from IPython.display import Image

In [ ]:
# Read Loan Dataset
df = pd.read_csv("train.csv")
df.head()

## Feature Engineering

### Create a new feature : Total_Income = Applicant Income + Coapplicant Income

### Create a new feature : Loan Amount to Total Income

### Create a new feature : Income group by binning Total income <br>

**Condition :** <br>
<li>If total income is less than 5000 -------------------------> Low Income group <br>
<li>If total income is more than 5000 but less than 10000 -----> Medium Income group <br>
<li>If total income is more than 10000 ------------------------> High Income group

### Create a new feature : Stable group by using Multiple columns <br>

**Condition :** <br>
<li>If a applicant is married,graduate and not self employed ----> Stable <br>
<li> Else  ---------------------------------------------------------------> Unstable

### Load data and assign it to a variable called drinks.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

## Group By

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

### Which continent drinks more beer on average?

### Which continent drinks minimum wine ?

### Which continent drinks max alcohol ?

## Exercise

Read data from below url :
#url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
#sep = '|'
#index_col ='user_id'

### In each Occupation ,what is the average age ?

### In each gender ,what is the min age ?

### For each combination of occupation and gender, calculate the mean age ?

## Join two dataframes

### Using Concatenate function

In [ ]:
Div_1 = pd.DataFrame({
        'roll_no': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']})


Div_2 = pd.DataFrame({
        'roll_no': ['6', '7', '8', '9', '10'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']})

#### Join both the tables on top of each other

### New Data

In [ ]:
English = pd.DataFrame({
        'roll_no': ['1', '2', '3', '4', '5'],
        'name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'english': [56,78,65,89,94,87]})


Maths = pd.DataFrame({
        'roll_no': ['1', '2', '3', '4', '5','7'],
        'name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'maths': [65,26,78,59,75,89]})

#### Join both the subjects marks